body {
  background-color: #282c34;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20vh;

}
#quote-box{
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;

}
#text{
  font-size: 1.5em;
}
#author{
  margin-top: 20px;
  font-size: 1.2em;
}
#new-quote{
  background-color: #8c0707;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  
}

#tweet-quote{
  background-color:#fff;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;

}
#buttons{
  display: flex;
  justify-content:space-around;
}
#tweet-quote{
  display: flex;
  align-items: center;

}
